<ion-content class="ion-padding">
  <label for="file" (change)="onUpload($event)">
    <div>
      <pdf-viewer
        [src]="pdfSrc"
        [show-all]="false"
        [zoom]="0.3"
        (after-load-complete)="afterLoadComplete($event)"
      >
      </pdf-viewer>
    </div>
    <ion-card class="ion-text-center ion-padding" button="true"
      ><ion-icon class="f-50" name="document-text-outline"></ion-icon>
      <div>
        <ion-text>{{nameFile}}</ion-text>
      </div>
    </ion-card>
    <input type="file" id="file" />
  </label>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  <form action="" #print="ngForm">
    <ion-item *ngIf="showInputs">
      <ion-label position="stacked">Ingresar rango de paginas</ion-label>
      <ion-input
        [(ngModel)]="pagsPrints"
        [placeholder]="'1 - '+totalPages"
        type="text"
        required
        name="pagsPrints"
      ></ion-input>
    </ion-item>

    <ion-list *ngIf="showInputs">
      <ion-radio-group name="typePrint" [(ngModel)]="typePrint" required>
        <ion-list-header>
          <ion-label> Elegir </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Blanco y negro</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Color</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </form>

  <ion-button
    (click)="loadPDF()"
    *ngIf="showInputs"
    expand="block"
    [disabled]="!print.valid"
    >IMPRIMIR</ion-button
  >
  <ion-card *ngIf="!showInputs" class="ion-text-center ion-padding">
    <div>
      <ion-text class="ion-padding">Seleccione un PDF</ion-text>
    </div>
  </ion-card>
</ion-content>
