<ion-content>
  <ion-list>
    <ion-card class="ion-padding-bottom" *ngFor="let item of docs">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title>{{item.title}}</ion-card-title>
            </ion-card-header>

            <ion-card-content> {{item.description}} </ion-card-content>
          </ion-col>
          <ion-col size="4">
            <ion-row class="ion-justify-content-center">
              <ion-button color="medium" [routerLink]="item.id"
                >Solicitar</ion-button
              >
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
